body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background-color: #242422; /* color base */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #121214;
}

header img {
  height: 7rem;
  width: auto;
}

header label img {
  height: 4rem;
}

/* Botón hamburguesa */
.hamburguesa {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  padding: 0;
}

.hamburguesa img {
  height: 4rem;
  width: auto;
}

/* Menú lateral inicial */
.menu-lateral {
  position: fixed;
  top: 0;
  right: -27rem;
  width: 25rem;
  height: 100vh;

  background: linear-gradient(to bottom, #222222, #000000, #000000);
  color: #fdddb4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 1rem;
  transition: right 0.3s ease-in-out;
  z-index: 2000;
}

/* Clase que jQuery añade para abrir el menú */
.menu-lateral.abierto {
  right: 0;
}

/* Lista dentro del menú */
.menu-lateral ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Botón cerrar */
.btn-cerrar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.btn-cerrar img {
  width: 2rem;
  height: auto;
}

.menu-lateral li {
  margin-bottom: 1.5rem;
}

.menu-lateral a {
  color: #fdddb4;
  text-decoration: none;
  font-weight: 700;
}


.redes-sociales {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.redes-sociales img {
  width: 2.1rem;
  height: auto;
  margin-right: 1.3rem;
}

.opciones-usuario {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 1rem;
  margin-bottom: 10rem;
  margin-top: 3rem;
  width: 20rem;
}

.opciones-usuario img {
  width: 2.1rem;
  height: auto;
  margin-right: 1.3rem;
  margin-bottom: 1rem;
}

.opcion-usuario {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.opcion-usuario a {
  color: white;
  text-decoration: underline;
  width: 15rem;
  font-size: 0.8rem;
}

.opcion-usuario img {
  width: 2.5rem;
}


/* Overlay */
#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1999;
}

#overlay.visible {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fdddb4;
}

main p {
  margin-left: 2rem;
}

main img {
  margin-bottom: 2rem;
  cursor: pointer;
}

main > a > img {
  min-width: 20rem;
  
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121214;
  padding: 0 2rem;
}

footer a {
  color: #fdddb4;
}
footer div {
  display: flex;
  gap: 2rem;
}

@media (min-width: 720px) {
  p{
   font-size: 1rem;     
  }

  main > a > img {
  min-width: 26rem;
  
}
 
}

